<div class="container-fluid mt-4 branddiv">
    <div class=" col-3">
        <div class=" text-center " >
            <a (click)="filter('')" class="text-secondary">
                <img src="" alt="">
                <h2>All Products</h2>
            </a>
        </div>
        <div class=" text-center uk-animation-toggle">
            <a (click)="filter(1)" class="text-secondary">
                <img class=" uk-card  uk-card-body uk-animation-shake"  style="border-radius:50% ;" src="https://i.postimg.cc/kX3XP9G2/spacex.png" alt="">
                <!-- <h2>SpaceX</h2> -->
            </a>
        </div>
        <div class=" text-center  uk-animation-toggle">
            <a (click)="filter(2)" class="text-secondary">
                <img class=" uk-card  uk-card-body uk-animation-shake" style="border-radius:50% ;" src="https://i.postimg.cc/fRfS2Ccg/blue.webp" alt="">
                <!-- <h2>Blue Origin</h2> -->
            </a>
        </div>
        <div class=" text-center uk-animation-toggle" >
            <a (click)="filter(3)"  class="text-secondary">
                <img class="  uk-card  uk-card-body uk-animation-shake" style="border-radius:50% ;"  src="https://i.postimg.cc/Vs27mfxP/verging.jpg" alt="">
                <!-- <h2>Virgin Galactic</h2> -->
            </a>
        </div>
    </div>

</div>


<div class="uk-animation-toggle" tabindex="0">
    <div class="uk-card uk-card-default  uk-animation-shake">
    </div>
</div>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row   row-cols-md-3  justify-content-center">
            <div class="col mb-5" *ngFor="let i of filterCategory">
                <div class="card ">
                    <!-- Product image-->
                    <div class="product-image">
                        <img src="{{i.productImg}}" alt="OFF-white Red Edition" draggable="false" />
                    </div>
                    <div class="card-body p-4">
                        <div class="product-info">
                            <h2>{{i.productName}}</h2>
                            <p>{{i.description}}</p>
                            <div class="price">{{i.price}}</div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="btn">
                        <a href="" style="text-decoration:none; color:black" routerLink="view-product/{{i.id}}">View</a>
                        <!-- <button class="buy-btn">View</button> -->
                        <button class="fav">
                            <svg class="svg" id="i-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>