<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{pdata.productImg}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">{{pdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span >{{pdata.price}}</span><br>
                    <span>{{pdata.rating}}</span>
                </div>
                <p class="lead">{{pdata.description}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <!-- <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button> -->
                    <a class="me-5 border p-2 pe-5 text-center border-black" style="text-decoration: none; border-radius: 5px;" href="">Edit</a> &nbsp;
                    <a href="" class="me-5 border p-2 pe-5 " style="text-decoration: none; border-radius: 5px;">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
